@import "_include-media";

.container {
    .about {
        display: flex;
        flex-direction: column;
        width: 100%;
        color: var(--text-color);
        h2 {
            font-size: 2rem;
            font-weight: 500;
            margin-top: 3rem;
        }
        h3 {
            font-size: 1.2rem;
            font-weight: 500;
            margin-top: 1rem;
        }
        li {
            line-height: 2.4rem;
        }
        a {
            color: var(--text-color);
        }
        a:hover {
            color: var(--alternate-color);
        }
        .skills, .facts {
            width: 100%;
            .lists {
                display: flex;
                width: 100%;
                div {
                    width: 50%;
                    .list {
                        display: flex;
                        margin-top: 1rem;
                        ul {
                            width: 50%;
                            padding-right: 0.8rem;
                        }
                    }
                    .photo {
                        width: 60%;
                    }
                }
            }
        }
        .skills {
            .list {
                width: 100% !important;
            }
        }
        .facts {
            .list {
                width: 40% !important;
            }
        }
    }
}
@include media-query("<desktop", "retina2x") using ($query-list) {
    .container {
        .about {
            text-align: center;
            h2 {
                font-size: 1.8rem;
                margin-top: 2.6rem;
            }
            li {
                line-height: 2.4rem;
            }
            .skills, .facts {
                .lists {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    div {
                        width: 100% !important;
                        text-align: left;
                        .list {
                            display: flex;
                            flex-direction: column;
                            margin-top: 1rem;
                            width: 100% !important;
                            ul {
                                width: 100%;
                            }
                        }
                        .photo {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}