@import "_include-media";

@mixin filter($filter-type, $filter-amount) {
    filter: $filter-type+unquote('(#{$filter-amount})');
}

.container {
    display: flex;
    .intro {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            color: var(--text-color);
            font-size: 5rem;
            font-weight: 500;
            margin-left: -0.3rem;
        }
        .description-text-group {
            display: none;
        }
        .description {
            color: var(--alternate-color);
            font-size: 1.8rem;
            font-weight: 400;
            .animated-text {
                color: var(--primary-color);
            }
        }
        .buttons {
            .social-buttons {
                a {
                    margin-left: 1rem;
                    img {
                        height: 2rem;
                        @include filter(invert, var(--invert-filter));
                    }
                }
                a:first-child {
                    margin-left: 0;
                }
            }
        }
    }
    .photo {
        width: 50%;
    }
}
@include media-query("<desktop", "retina2x") using ($query-list) {
    .container {
        flex-direction: column-reverse;
        justify-content: flex-end;
        .intro {
            width: 100%;
            align-items: center;
            text-align: center;
            h1 {
                font-size: 3rem;
                margin-left: -0.1rem;
            }
            .description {
                font-size: 1.2rem;
            }
            .buttons {
                text-align: center;
                .social-buttons {
                    img {
                        height: 1.6rem;
                    }
                }
            }
        }
        .photo {
            width: 100%;
        }
    }
}