<div class="card">
    <a class="project-img" id="project-{{ .Slug }}">
        <img class="thumbnail" src="{{ .Params.thumbnail }}" alt="{{ .Title }}">
    </a>
    <div class="info">
        <h3 class="title">
            {{ .Title }}
            {{ if .Params.archived }}
            <span class="material-icons archive" title="Archived">archive</span>
            {{ end }}
        </h3>
        <p class="desc">{{ .Description }}</p>
        {{ if not (eq (len .Params.tags) 0) }}
        <div class="tags">
            {{ range .Params.tags }}
                <span class="tag">{{ . }}</span>
            {{ end }}
        </div>
        {{ end }}
        {{ $valid_links := (where (sort .Params.links "weight") "link" "!=" "") }}
        {{ if not (eq (len $valid_links) 0) }}
        <div class="links">
            {{ range (where (sort .Params.links "weight") "link" "!=" "") }}
            <a href="{{ .link }}" target="_blank" class="link" title="{{ .type | title }}"><img src="/{{ .type }}.svg" alt="{{ .type }}"></a>
            {{ end }}
        </div>
        {{ end }}
    </div>
</div>